{% extends 'layout.html' %}

{% block body %}
  <div style="text-align: center;">
    <img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/49523/clipboard-emoji-clipart-sm.png" alt="Project Image" style="max-width: 100%; height: 400px;">
  </div>
  <div style="text-align: center;">
    <h1>About Our Project</h1>
    <p>Our project aims to provide a platform for creating, editing, deleting, and displaying articles. With our intuitive interface, users can easily manage their content, allowing for seamless collaboration and efficient content management.</p>
  </div>
{% endblock %}
